name: Script Injection

on:
  push:
    branches: [ "main" ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run a one-line script
        # BAD! This example is vulnerable to script injection
        run: echo "${{ github.event.head_commit.message }}"

# " | sudo poweroff | echo"
